## data structure

-list ðŸ¤©
 -indexed , ordered , mutable ,'[ ]
 tuple
 - -indexed , ordered , *immutable* , ()
 set
 - unindexed , unordered , mutable , *no-duplicates** '{}'
 dictionary ðŸ¤©
 - **unindexed , key value pairs, mutable, { }

In [3]:
x = [] # empty list
y = [1 , 2 , 3 , 5 , 6]
z = ['Re4' , 'leon' , 'Ashley']
grocery = ['milk' , 55 , 'bread' , 20 , 'butter' , 49]
a = [1] * 5

In [5]:

x.append(10)
x.append(input('enter a no: '))

In [6]:
for i in range(3):
    val = int(input('enter a no: '))
    x.append(val)
print(x)

[10, '100', 10, '1000', 10, 60, 40]

In [ ]:
del info # delete the variable info from memory

In [7]:
print(x[0] , x[-1] , x[1])
print(x[:2])# slice first two element
print(x[-3:]) # slice last three element
print(x[::-1]) # reverse the list|

10 40 100
[10, '100']
[10, 60, 40]
[40, 60, 10, '1000', 10, '100', 10]

In [8]:
for i in x:
    print(i , end= ' ')

10 100 10 1000 10 60 40

- list function
 -adding
  - append() - add single item to the end
  - inserta() - add single item  at given index
    -extend() - merge an list to an existing list
remove
 -remove() - remove single item by value
  _ pop() - remove single item by index
  -clear() - remove all items
utility
- index() - find index of item by value
- count() - count repeated item
- sort() - sort items
- reverse() - reverse item
- copy() - copy list

In [9]:
books = []# books list empty
books.append('harry poter')
books.append('psychology of money')
books.append('well of Ascension')
books

['harry poter', 'psychology of money', 'well of Ascension']

In [10]:
books.insert(1, 'harry poter and the goblet the fire')
books

['harry poter',
 'harry poter and the goblet the fire',
 'psychology of money',
 'well of Ascension']

In [ ]:
books[2] = 'the hero of ages' # replace
books

In [ ]:
old_books = ['A song of fire and Ice' , 'umbrella' , 'the jungle books' , 'price and prejudice']
books.extend(old_books)

In [ ]:
books

In [ ]:
if'the jungle book' in books:
 books.remove('the jungle book') # removes only the first occurance
books

In [ ]:
books.pop(4)

In [ ]:
books.pop() # remove the last item/element

In [ ]:
books.clear()
books

In [ ]:
kachra = '''The Shawshank Redemption
The Godfather
The Dark Knight
Pulp Fiction
Fight Club
Inception
Forrest Gump
The Matrix
Goodfellas
The Lord of the Rings: The Fellowship of the Ring
Star Wars: Episode V - The Empire Strikes Back
The Avengers
The Silence of the Lambs
Schindler's List
The Departed
Interstellar
The Prestige
The Lion King
Gladiator
Braveheart
Titanic
The Social Network
The Usual Suspects
The Terminator
The Princess Bride
Casablanca
The Wizard of Oz
Jaws
Back to the Future
E.T. the Extra-Terrestrial
The Shawshank Redemption
The Godfather: Part II
The Dark Knight Rises
The Good, the Bad and the Ugly
Django Unchained
Seven
The Green Mile
The Departed
The Shining
The Silence of the Lambs
Saving Private Ryan
The Pianist
Schindler's List
The Revenant
The Grand Budapest Hotel
Whiplash
La La Land
Birdman
The Shape of Water
Titanic
The Social Network
Inception
The Matrix
Blade Runner
The Fifth Element
Star Wars: Episode IV - A New Hope
The Empire Strikes Back
The Return of the King
The Two Towers
The Fellowship of the Ring
The Force Awakens
The Last Jedi
The Rise of Skywalker
Raiders of the Lost Ark
Indiana Jones and the Last Crusade
Jurassic Park
The Lost World: Jurassic Park
Avengers: Endgame
Avengers: Infinity War
Iron Man
Captain America: The Winter Soldier
Guardians of the Galaxy
Deadpool
Logan
Spider-Man: Homecoming
The Incredible Hulk
Black Panther
Wonder Woman
Joker
Toy Story
Finding Nemo
Up
WALL-E
Ratatouille
Inside Out
Coco
Zootopia
Moana
The Lion King (2019)
Aladdin (2019)
Beauty and the Beast (2017)
Mulan (2020)
Snow White and the Seven Dwarfs
Cinderella
Sleeping Beauty
The Little Mermaid
Beauty and the Beast
Aladdin
The Jungle Book
The Lion King (1994)
Please note that this is just a small selection of movies and there are many other great films out there.
'''
movies = kachra.splitlines()
movies

In [ ]:
movies.reverse()
movies

In [ ]:
movies.sort()
movies

In [ ]:
movies.sort(reverse = True)
movies

In [27]:

x = [1 ,1 , 2 , 6 ,6 , 6,6 ]
print(x.count(1))
print(x.count(6))
print(x.count(2))
print(x.count(9))

2
4
1
0

In [30]:
movies.index('Deadpool')

85

In [33]:
movies_bk = movies.copy() # copies a list to a new memory location
movies_bk

['Zootopia',
 'Wonder Woman',
 'Whiplash',
 'WALL-E',
 'Up',
 'Toy Story',
 'Titanic',
 'Titanic',
 'The Wizard of Oz',
 'The Usual Suspects',
 'The Two Towers',
 'The Terminator',
 'The Social Network',
 'The Social Network',
 'The Silence of the Lambs',
 'The Silence of the Lambs',
 'The Shining',
 'The Shawshank Redemption',
 'The Shawshank Redemption',
 'The Shape of Water',
 'The Rise of Skywalker',
 'The Revenant',
 'The Return of the King',
 'The Princess Bride',
 'The Prestige',
 'The Pianist',
 'The Matrix',
 'The Matrix',
 'The Lost World: Jurassic Park',
 'The Lord of the Rings: The Fellowship of the Ring',
 'The Little Mermaid',
 'The Lion King (2019)',
 'The Lion King (1994)',
 'The Lion King',
 'The Last Jedi',
 'The Jungle Book',
 'The Incredible Hulk',
 'The Green Mile',
 'The Grand Budapest Hotel',
 'The Good, the Bad and the Ugly',
 'The Godfather: Part II',
 'The Godfather',
 'The Force Awakens',
 'The Fifth Element',
 'The Fellowship of the Ring',
 'The Empire Strikes Back',
 'The Departed',
 'The Departed',
 'The Dark Knight Rises',
 'The Dark Knight',
 'The Avengers',
 'Star Wars: Episode V - The Empire Strikes Back',
 'Star Wars: Episode IV - A New Hope',
 'Spider-Man: Homecoming',
 'Snow White and the Seven Dwarfs',
 'Sleeping Beauty',
 'Seven',
 "Schindler's List",
 "Schindler's List",
 'Saving Private Ryan',
 'Ratatouille',
 'Raiders of the Lost Ark',
 'Pulp Fiction',
 'Please note that this is just a small selection of movies and there are many other great films out there.',
 'Mulan (2020)',
 'Moana',
 'Logan',
 'La La Land',
 'Jurassic Park',
 'Joker',
 'Jaws',
 'Iron Man',
 'Interstellar',
 'Inside Out',
 'Indiana Jones and the Last Crusade',
 'Inception',
 'Inception',
 'Guardians of the Galaxy',
 'Goodfellas',
 'Gladiator',
 'Forrest Gump',
 'Finding Nemo',
 'Fight Club',
 'E.T. the Extra-Terrestrial',
 'Django Unchained',
 'Deadpool',
 'Coco',
 'Cinderella',
 'Casablanca',
 'Captain America: The Winter Soldier',
 'Braveheart',
 'Blade Runner',
 'Black Panther',
 'Birdman',
 'Beauty and the Beast (2017)',
 'Beauty and the Beast',
 'Back to the Future',
 'Avengers: Infinity War',
 'Avengers: Endgame',
 'Aladdin (2019)',
 'Aladdin']

In [34]:
len(movies_bk)

101

In [35]:
movies[:10]

['Zootopia',
 'Wonder Woman',
 'Whiplash',
 'WALL-E',
 'Up',
 'Toy Story',
 'Titanic',
 'Titanic',
 'The Wizard of Oz',
 'The Usual Suspects']

In [37]:
size_movies = [] #*
for movie in movies: #*
    s = len(movie) #*
    size_movies.append(s)
print(size_movies)

[8, 12, 8, 6, 2, 9, 7, 7, 16, 18, 14, 14, 18, 18, 24, 24, 11, 24, 24, 18, 21, 12, 22, 18, 12, 11, 10, 10, 29, 49, 18, 20, 20, 13, 13, 15, 19, 14, 24, 30, 22, 13, 17, 17, 26, 23, 12, 12, 21, 15, 12, 46, 34, 22, 31, 15, 5, 16, 16, 19, 11, 23, 12, 105, 12, 5, 5, 10, 13, 5, 4, 8, 12, 10, 34, 9, 9, 23, 10, 9, 12, 12, 10, 26, 16, 8, 4, 10, 10, 35, 10, 12, 13, 7, 27, 20, 18, 22, 17, 14, 7]

In [41]:
size_movies = [len(i) for i in movies] 
print(size_movies)

[8, 12, 8, 6, 2, 9, 7, 7, 16, 18, 14, 14, 18, 18, 24, 24, 11, 24, 24, 18, 21, 12, 22, 18, 12, 11, 10, 10, 29, 49, 18, 20, 20, 13, 13, 15, 19, 14, 24, 30, 22, 13, 17, 17, 26, 23, 12, 12, 21, 15, 12, 46, 34, 22, 31, 15, 5, 16, 16, 19, 11, 23, 12, 105, 12, 5, 5, 10, 13, 5, 4, 8, 12, 10, 34, 9, 9, 23, 10, 9, 12, 12, 10, 26, 16, 8, 4, 10, 10, 35, 10, 12, 13, 7, 27, 20, 18, 22, 17, 14, 7]

In [42]:
x = [16 , 3 , 4 , 10 , 5 ,6]
x2 = [i**2 for i in x]
print(x)
print(x2)

[16, 3, 4, 10, 5, 6]
[256, 9, 16, 100, 25, 36]

In [43]:
x2_even = [i**2 for i in x if i%2==0]
print(x)
print(x2_even)

[16, 3, 4, 10, 5, 6]
[256, 16, 100, 36]

In [11]:
names = ['alex pierce' , 'sam hemmingway' , 'shavez' , 'asif' , 'bruce lee']
fnames = [name.split()[0] for name in names]
print(fnames)

['alex', 'sam', 'shavez', 'asif', 'bruce']

In [12]:
numbers = [2 , 5 , 9 , 7 ,3]
odd_cubes = [i**3 for i in numbers if i%2!=0]
print(odd_cubes)

[125, 729, 343, 27]