In [ ]:
# creating strings
# indexing and slicing
# methods
#formatiom
#nvalidation
#utility

In [1]:
address = '''2/71 newal kisore road'''
addr = r'C:\Users\aamir\Downloads\virtuanes097e\CheatCode\CHIP N Dale Res Ran 2.gen' # raw string

In [2]:
a = 'apple'
a[0]

'a'

In [3]:
a[0] = 'b' # string is immutable

TypeError: 'str' object does not support item assignment

In [5]:
# indexing 
for i , c in enumerate(a):
    print( i , c)

0 a
1 p
2 p
3 l
4 e

In [6]:
print(a[-1])

e

In [3]:
# slicing
name = 'William Shakespear'
print(name[8 : 13])
print(name[: -1])
print(name[: 4])# starting is 0 so we dont put anything
print(name[-5 :])# if nothing is given after :, then read till end
print(name[1:])
print(name[-1:])

Shake
William Shakespea
Will
spear
illiam Shakespear
r

syntax var[start : stop : step]

In [3]:
print(name[::2])
name[::-1] # string reverse

WlimSaepa

'raepsekahS mailliW'

In [13]:
name[::-1] # string reverse

'sraepsekahS mailliW'

types of function

In [15]:
msg = "you should study and play ðŸ‘Œ"

In [19]:
print(msg.upper())
print(msg.lower())
print(msg.title())
print(msg.capitalize())
print(msg.swapcase())
print(msg.isupper())
print(msg.islower())
print('hel lo'.isalpha())
print("123".isalpha())
print(msg.islower())
print(msg.islower())

YOU SHOULD STUDY AND PLAY ðŸ‘Œ
you should study and play ðŸ‘Œ
You Should Study And Play ðŸ‘Œ
You should study and play ðŸ‘Œ
YOU SHOULD STUDY AND PLAY ðŸ‘Œ
False
True
False
False
True
True

In [20]:
print('Mr . Raja' . startswith('Mr'))
print('Raja' . startswith('Mr'))

True
False

In [24]:
file = input('enter a file path')
if file.endswith('.py'):
    print('you have given a python file')
    content = open(file).read()
    print(content)
else:
    print('you have given me something else')
    print('shame on you')

you have given me something else
shame on you

utility

find()
replace()
split()
splitline()
join()
count()
strip()

In [23]:
quote = 'journey before destination'
for i in (quote):
    quote.find(' ')
    

quote.find('our')

1

In [28]:
quote.find('e')

5

In [27]:
quote.find('e' , 10)

13

In [28]:
quote.replace( 'e' , 'a')

'journay bafora dastination'

In [29]:
quote.replace('journey' , 'travelling').replace('before' , 'to')

'travelling to destination'

In [30]:
amt = '$2333625172 dollars '
amt.replace('$' , '').replace(' ,' , '').replace('dollars', '').replace(' ' , '')

'2333625172'

In [31]:
msg.split() # spaces are used are delimiter

['you', 'should', 'study', 'and', 'play', 'ðŸ‘Œ']

In [32]:
msg2 = 'we are here , we are there , and everywhere'
msg2.split(',')

['we are here ', ' we are there ', ' and everywhere']

In [9]:
poem ='''johnny johnny , yes papa, eating sugar ,
telling a lie , no papa'''
poem.splitlines()

['johnny johnny , yes papa, eating sugar ,', 'telling a lie , no papa']

In [39]:
x = ['HI' , 'THERE' , 'HOW']
print(x)

['HI', 'THERE', 'HOW']

In [40]:
msg = ' '.join(x)
print(msg)

HI THERE HOW

In [12]:
x.count(' ')

0

In [42]:
print(msg)
print(msg.casefold())

HI THERE HOW
hi there how

In [32]:
username = input('enter a username: ')
if username.strip() == 'Aamir':
    print('welcome sir')

welcome sir

In [14]:
mm = '''
this 
is a an example

'''
print(mm.strip())

this
is a an example