In [1]:
x = (1,2,3)
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [2]:
y = 1, 2, 3, 4# tuple packing
print(y)
print(type(y))

(1, 2, 3, 4)
<class 'tuple'>

In [3]:
z = tuple([1 , 2 ,3 , 4]) # tuple from a iterable
zs = tuple('hello') # 
print(z)
print(zs)

(1, 2, 3, 4)
('h', 'e', 'l', 'l', 'o')

In [4]:
# tuple functions
x = (12 , 21 , 12 , 312 , 5 ,  25 , 553)
print(x.count(12))
print(x.index(312))

2
3

In [7]:
x = (2,) # single element tuple needs a comma
print(type(x))

<class 'tuple'>

In [8]:
y

(1, 2, 3, 4)

In [13]:
a = y
print(a)
a , b , c , d = y # tuple unpacking
print(a , b , c ,d)
# a , b = y  too many values to unpack (expected 2)
# a , b , c , d , e = y not enough values to unpack (expected 5, got 4)

(1, 2, 3, 4)
1 2 3 4

In [14]:
a , b , * c = y # tuple unpacking
print(a , b ,c)
a , *b = y
print(a ,b)
a , *b, c = y
print(a,b,c)

1 2 [3, 4]
1 [2, 3, 4]
1 [2, 3] 4

# set

In [16]:

x = { 2 , 1 , 4 , 6 , 5 ,7 ,10 , 9}
print(x)

{1, 2, 4, 5, 6, 7, 9, 10}

In [17]:
fruits = {'apple' , 'orange' , 'apple' , 'pear' , 'orange' , 'banana'}
print(fruits)

{'apple', 'orange', 'banana', 'pear'}

In [18]:
fruits.add('grape')
print(fruits)
fruits.add('apple')
print(fruits)

{'apple', 'orange', 'grape', 'banana', 'pear'}
{'apple', 'orange', 'grape', 'banana', 'pear'}

In [19]:
fruits.discard('apple')
print(fruits)
fruits.discard('custard apple')
print(fruits)

{'orange', 'grape', 'banana', 'pear'}
{'orange', 'grape', 'banana', 'pear'}

In [21]:
a = {1 , 2 , 3 , 8 , 9 , 0}
b = {2 , 4 , 6 , 8 , 10}
c = {3 , 7 , 9 , 11 , 15}
d = {12 , 14 , 16 , 18 , 14}

In [24]:
a | b # union 
print(a.union(b))

{0, 1, 2, 3, 4, 6, 8, 9, 10}

In [26]:
print(a & c) # intersection

{9, 3}

In [28]:
print(b - a) # difference

{10, 4, 6}

In [30]:
print( b ^ a) # symmetric differene

{0, 1, 3, 4, 6, 9, 10}

In [34]:
print(b.issuperset(a))
print(a.issubset(b))
print(a.isdisjoint(d))

False
False
True